
.buttons1{
    color: rgb(94, 216, 94);
    opacity: 0.6;

}
.buttons2{
    color: rgb(252, 50, 0);
    opacity: 0.6;
    margin-left: 5px;

}
.button{
    display: flex;
    align-items: center;
}

body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

#input{
    height: 30px;
    /* border-style: initial; */
    border-radius: 8px;
    opacity: 0.7;
    padding-left:10px ;
}
#button-inmodel{
    height: 25px;
    margin-top: 10px;
    
    
}
.modal-div{
    margin: 30px;
}
